* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(7, 31, 39);
}

main {
    background-color: rgb(5, 23, 30);
}

footer {
    background-color: rgb(7, 31, 39);
}
/* .name {
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding: 16px 0;
} */
.showBooks {

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
.showBooks h2 {
    text-align: center;
}
#book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.book-card {
  max-width: 500px;
  height: 568px;
  margin: 16px auto;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 16px;
  font-family: 'Helvetica Neue', sans-serif;
}

.book-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  margin-bottom: 8px;
  background-color: rgb(7, 31, 39);
  border-radius: 8px 8px 0 0;
  color: #fff;
}

.book-header h2 {
  font-size: 18px;
  margin: 0;
  padding: 16px;
}

.book-genre {
  font-size: 14px;
  color: #888;
  background-color: #f1f1f1;
  padding: 3px 8px;
  border-radius: 8px;
  background-color: rgba(26, 106, 133, 0.267);
}

.book-meta p {
  font-size: 15px;
  margin: 5px 0;
}

.book-comments {
  margin-top: 16px;
  overflow-y: auto;
  flex: 1;
  max-height: 200px;
}

.book-comments h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.comment {
  font-size: 14px;
  border-top: 1px solid #eee;
  padding: 8px 0;
  
}
.book-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
}
.book-image img {
  width: 100px;
  height: auto;
  border-radius: 8px;
}
.commentinput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 8px;
  /* margin-bottom: 8px; */
}
.book-comments button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 34px;
    border-radius: 4px;
    cursor: pointer;
    height: 25px;
    margin: 5px;
}
.book-comments button:hover {
  background-color: #0056b3;
  box-shadow: #8613bb 0px 0px 2px;
    transition: background-color 0.3s ease;
}